@font-face {
  font-family: 'default-font';
    src:  url('_include/fontawesome-webfont.woff2') format('woff2'),
            url('_include/fontawesome-webfont.woff') format('woff'),
            url('_include/fontawesome-webfont.ttf') format('truetype');
  }

body {
  color: white;
  background: #080808;
  font-family: 'default-font', 'Roboto', helvetica, arial, sans-serif;
  font-size: 20px;
  line-height: 1.15;
  overflow-x: hidden;
  width:100% !important;
  padding: 108px 1vw 0 1vw;
  margin: 0;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color:#ffffca;
}

img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  margin:auto;
}

.protect-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
}

a.anchor {
    display: block;
    position: relative;
    top: -88px;
    visibility: hidden;
}

header{
  background: #0000ff;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  color: white;
  width: 97%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2vw;
  overflow-y:hidden;
}

.homenav {
  float: right;
  color: white;
  font-size: 26px;
  line-height: 64px;
}
.homenav a {
  position: relative;
  color: white;
  text-decoration:none;
  margin: 0 0.25px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 10px;
  padding: 10px 12px;
}

.homenav a:hover::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}

.homenav .current, .homenav .current a {
  color: #cfcfcf;
}

.homenav .current::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #080808;
}

.sticker {
  background: #000000;
  padding:1vh 2vw;
  box-shadow:0 0 12px 6px rgba(255,255,255,0.3);
}

h1 {
  font-size:36px;
  line-height: 40px;
}

.newsticker {
  position: relative;
  background: #3c3c3c;
  color: white;
  width: auto;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vh 1vw;
  border-radius: 4px;
  box-shadow: inset 0 0 2px #000000;
}

.newsticker .newsentry {
  position: relative;
  padding: 1vh 0.5vw;
  margin: 0 0 5px 0;
}

.newsentry:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: auto;
  height: 2px;
  background: radial-gradient(#1a1a1a, transparent);
}

.newsdate {
  font-weight: 500;
  font-style: italic;
}
.newsdate::after {
  content: ": ";
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  background: white;
  border: 2px solid white;
}

/* Next & previous buttons for slideshow */
.prev-slide, .next-slide {
  cursor: pointer;
  position: absolute;
  bottom: 6px;
  right: 6px;
  padding: 0 4px;
  margin: 0;
  right: 0;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
  user-select: none;
}

/* move "previous button" left */
.prev-slide {
  right: 39px;
}

/* On hover, turn yellow and cast shadow */
.prev-slide:hover, .next-slide:hover {
  color: #f0ff00;
  text-shadow: 0 0 2px #000000;
}

/* slide counter */
.slide-counter {
  position: absolute;
  bottom: 5px;
  right: 18px;
  margin: 0;
  padding: 0;
  width: auto;
  color: black;
  font-size: 15px;
  transition: 0.3s ease;
  user-select: none;
}

/* slide caption */
.slide-caption {
  color: black;
  font-size: 18px;
  padding: 0 12px;
  position: absolute;
  bottom: 6px;
  width: 40%;
  text-align: left;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev-slide, .next-slide, .slide-caption, .slide-counter {font-size: 11px}
}
