:root {
  --base-bg-color: #ffffff;
  --base-font-color: #000000;
  --base-font-size: calc(0.8em + 0.4vmin);
  --base-link-color: #0000ff;
  --base-header-bg: #1696a0;
  --base-shadow-color: rgba(0,0,0,0.3);
  --base-border-color: #000000;
}
:root {
  --base-header-height: calc(2.34 * var(--base-font-size));
}

@font-face {
  font-family: 'default-font';
    src:  url('include/fontawesome-webfont.woff2') format('woff2'),
            url('include/fontawesome-webfont.woff') format('woff'),
            url('include/fontawesome-webfont.ttf') format('truetype');
  }

@font-face {
  font-family: 'handwritten';
  src:  url('include/reenie-beanie.woff2') format('woff2');
}

body {
  color: var(--base-font-color);
  background: var(--base-bg-color);
  font-family: 'default-font', 'Roboto', helvetica, arial, sans-serif;
  font-size: calc(1.5 * var(--base-font-size));
  line-height: 1.15;
  overflow-x: hidden;
  width:95.5vw !important;
  padding: calc(4vh + var(--base-header-height)) 2vw 0 2vw;
  margin: 0;
  overflow-y: scroll;
  text-align: justify;
}

.note, .note p {
  font-family: 'handwritten', cursive;
  font-size: 4vmin;
}

p {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--base-link-color);
}

img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  margin:auto;
}

.protect-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
}

a.anchor {
    display: block;
    position: relative;
    top: calc(-4vh - var(--base-header-height));
    visibility: hidden;
}

header{
  background: var(--base-header-bg);
  font-weight: 400;
  font-size: calc(1.2 * var(--base-font-size));
  line-height: var(--base-header-height);
  color: var(--base-header-fc);
  width: 98vw;
  height: var(--base-header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1vw;
  overflow-y: hidden;
  z-index: 9999;
}

.headnav {
  float: left;
  color: black;
  font-size: calc(1.2 * var(--base-font-size));
  line-height: 1.8;
}

.headnav .naventry {
  float: left;
  background: var(--base-header-bg);
}

.headnav a {
  position: relative;
  color: black;
  text-decoration:none;
  padding: 10px 12px;
}

@media screen and (max-width:680px) {
  header {
    overflow-y: visible;
  }

  .headnav {
    position: fixed;
    top: calc(var(--base-header-height) - 10px);
    left: 0;
    display: none;
  }

  .headnav, .naventry {
    width: 170px;
  }

  .headnav a:hover {
    color: white;
  }

  .naventry, .naventry a, .current {
    line-height: 1.6;
  }
}

@media screen and (min-width:680px) {
  .headnav a:hover::after {
    content: "";
    position: absolute;
    top: 82.5%;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 2.5vmin solid transparent;
    border-right: 2.5vmin solid transparent;
    border-bottom: 3vmin solid black;
  }

  .headnav .current::after {
    content: "";
    position: absolute;
    top: 82.5%;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 2.5vmin solid transparent;
    border-right: 2.5vmin solid transparent;
    border-bottom: 3vmin solid white;
  }
}

.headnav .current, .headnav .current a {
  color: white;
}

.navbtn {
  display: inline-block;
  cursor: pointer;
  float: left;
  height: var(--base-header-height);
  padding: 0;
  padding-left: 1%;
  margin: 0;
}

.bar1, .bar2, .bar3 {
  width: calc(0.5 * var(--base-header-height));
  height: calc(0.15 * var(--base-header-height));
  background-color: black;
  margin: calc(0.05 * var(--base-header-height)) 0;
  transition: 0.4s;
  border-radius: 10%;
}
.bar1 {
  margin-top: calc(0.225 * var(--base-header-height));
}
.bar3 {
  margin-bottom: calc(0.225 * var(--base-header-height));
}

.change .bar1 {
  -webkit-transform: translate(0, calc(0.2 * var(--base-header-height)));
  transform: translate(0, calc(0.2 * var(--base-header-height)));
}
.change .bar3 {
  -webkit-transform: translate(0, calc(-0.2 * var(--base-header-height)));
  transform: translate(0, calc(-0.2 * var(--base-header-height)));
}

@media screen and (min-width:680px) {
  .navbtn {
    display: none;
  }
}

.sticker {
  background: var(--base-bg-color);
  padding: 0.5vh 2vw;
  box-shadow:0 0 6px 3px var(--base-shadow-color);
  overflow: hidden;
}

.sticker.row {
  margin: 4vh 0 0 0;
  padding-bottom: 4vh;
  float: left;
  width: 96%;
}

.sticker.row.left {
  float: left;
  width: 45%;
}

.sticker.row.right {
  float: right;
  width: 45%;
}

.sticker.row.first {
  margin: 0;
}

.sticker.row.last {
  margin: 4vh 0;
}

@media screen and (max-width:960px) {
  .sticker.row.left, .sticker.row.right {
    width: 96%;
  }
  .sticker.row.first.right {
    margin: 4vh 0 0 0;
  }
  .sticker.row.last.left {
    margin: 4vh 0 0 0;
  }
}

h1 {
  font-size: calc(1.8 * var(--base-font-size));
  line-height: 2.15;
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: calc(1.7 * var(--base-font-size));
  line-height: 2;
  margin: 0;
  font-weight: 550;
}

h3 {
  font-size: calc(1.6 * var(--base-font-size));
  line-height: 2.1;
  margin: 0;
  font-weight: 550;
}

.sketch-border {
  position: relative;
  text-align:middle;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 1.1vmin solid var(--base-border-color);
  padding: -5px;
  overflow: hidden;
  margin:auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.3s;
  animation-name: fade;
  animation-duration: 0.3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
