.highlight-canvas {
  width: 57%;
  float: left;
  height: 86vh;
  position: relative;
  top: 0;
}

.news-canvas {
  width: 33%;
  float: right;
  height: 86vh;
  position: relative;
}

@media screen and (max-width:960px),(max-aspect-ratio:8/5) {
  .highlight-canvas {
    width: 96%;
    height: 60vh;
  }
  .news-canvas {
    float: left;
    width: 96%;
    height: 50vh;
    margin: 4vh 0;
  }
}

@media screen and (max-height:480px) {
  .highlight-canvas {
    height: 100vh;
  }
  .news-canvas {
    height: 82vh;
  }
}

.newsticker {
  position: relative;
  background: #f4f4f4;
  color: black;
  width: auto;
  max-height: calc(100% - calc(5.3 * var(--base-font-size)));
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vh 1vw;
  border-radius: 4px;
  box-shadow: inset 0 0 2px #000000;
}

.newsticker .newsentry {
  position: relative;
  padding: 1vh 0.5vw;
}

.newsentry:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: auto;
  height: 2px;
  background: radial-gradient(#1a1a1a, transparent);
}

.newsentry a{
  font-style: italic;
}

.newsdate {
  font-weight: 500;
  font-style: italic;
}
.newsdate::after {
  content: ": ";
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 100;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: auto;
  height: calc(100% - calc(5.3 * var(--base-font-size)));
  margin: auto;
  background: transparent;
}

.slideshow-canvas {
  position: absolute;
  width: 100%;
  height: calc(100% - 3.8vh);
  overflow: hidden;
  z-index: 10;
  bottom: 3.8vh;
}

.slideshow-canvas .slide-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slideshow-canvas .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  z-index: 9999;
}

/* metallic look */
.metallic {
  outline: none;
  color: hsla(0,0%,20%,1);
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0 0 0, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 2px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 2px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 4px, /* top HL */
}

.metallic.linear {
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.1) 2.2%),
    linear-gradient(180deg, hsl(0,0%,70%)  0%,
    hsl(0,0%,85%) 47%,
    hsl(0,0%,78%) 72%,
    hsl(0,0%,55%) 100%);
}

/* media controls */
.media-control {
  position: absolute;
  bottom: 0;
  float: right;
  right: 0;
  width: 8vh;
  height: 3.8vh;
  text-align: center;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  padding: 0 1.5%;
  z-index: 1;
  border: 1px solid #000000;
}

/* Next & previous buttons for slideshow */
.prev-slide, .next-slide {
  cursor: pointer;
  position: absolute;
  left: 5%;
  top: 0;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 3.2vh;
  color: black;
  font-weight: bold;
  font-size: 2.4vh;
  line-height: 3.2vh;
  transition: 0.3s ease;
  user-select: none;
  text-align: left;
}

.next-slide {
  text-align: right;
  left: 70%;
}

/* On hover, turn yellow and cast shadow */
.prev-slide:hover, .next-slide:hover {
  color: #f0ff00;
  text-shadow: 0 0 2px #000000;
}

/* pause/play buttons */
.pause, .play {
  cursor: pointer;
  display: none;
  position: absolute;
  float: left;
  left: 3%;
  top: 0.5%;
  margin: 0;
  padding: 0;
  width: 97%;
  height: 3.6vh;
  color: black;
  font-size: 2.4vh;
  line-height: 3.6vh;
  transition: 0.3s ease;
  user-select: none;
}

.pause {
  left: 1%;
  top: 1%;
  display: block;
}

.pause:hover, .play:hover {
  color: #f0ff00;
  text-shadow: 0 0 2px #000000;
}

/* slide counter */
.slide-counter {
  position: absolute;
  bottom: 6px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: auto;
  color: black;
  font-size: 17px;
  font-weight: 450;
  transition: 0.3s ease;
  user-select: none;
}

/* slide caption */
.slide-caption {
  color: black;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9),
    inset 0 0 2px rgba(255, 255, 255, 0.9);
  /*font-size: 2.2vh;*/
  line-height: 1.15;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  width: 100%;
  text-align: right;
}


.slide-caption .title {
  font-weight: 500;
  /*font-size: 2.3vh;*/
}
