.newsticker {
  position: relative;
  background: #f4f4f4;
  color: black;
  width: auto;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vh 1vw;
  border-radius: 4px;
  box-shadow: inset 0 0 2px #000000;
}

.newsticker .newsentry {
  position: relative;
  padding: 1vh 0.5vw;
}

.newsentry:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: auto;
  height: 2px;
  background: radial-gradient(#1a1a1a, transparent);
}

.newsentry a{
  font-style: italic;
}

.newsdate {
  font-weight: 500;
  font-style: italic;
}
.newsdate::after {
  content: ": ";
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: auto;
  height: 80%;
  margin: auto;
  background: transparent;
}

.slideshow-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slideshow-canvas img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slideshow-canvas .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  z-index: 9999;
}

/* metallic look */
.metallic {
  outline: none;
  color: hsla(0,0%,20%,1);
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0 0 0, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 2px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 2px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 4px, /* top HL */
}

.metallic.linear {
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.1) 2.2%),
    linear-gradient(180deg, hsl(0,0%,70%)  0%,
    hsl(0,0%,85%) 47%,
    hsl(0,0%,78%) 72%,
    hsl(0,0%,55%) 100%);
}

/* media controls */
.media-control {
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  height: 4.5vh;
  text-align: center;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  padding: 0 0.6vw;
  z-index: 1;
  border: 1px solid #000000;
}

/* Next & previous buttons for slideshow */
.prev-slide, .next-slide {
  cursor: pointer;
  position: relative;
  float: left;
  left: 0;
  bottom: 2px;
  padding: 0;
  margin: 0;
  width: auto;
  color: black;
  font-weight: bold;
  font-size: 2.5vh;
  line-height: 4.5vh;
  transition: 0.3s ease;
  user-select: none;
}

/* On hover, turn yellow and cast shadow */
.prev-slide:hover, .next-slide:hover {
  color: #f0ff00;
  text-shadow: 0 0 2px #000000;
}

.autoplay-container {
  position: relative;
  float: left;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
  width: 2.1vw;
  height: 4.5vh;
  line-height: 4.5vh;
}

/* pause/play buttons */
.pause, .play {
  cursor: pointer;
  display: none;
  color: black;
  position: absolute;
  left: 0.1vw;
  width: 2vw;
  font-size: 2.5vh;
  line-height: 4.5vh;
  bottom: 0;
  transition: 0.3s ease;
}

.pause {
  left: 0;
  display: block;
}

.pause:hover, .play:hover {
  color: #f0ff00;
  text-shadow: 0 0 2px #000000;
}

/* slide counter */
.slide-counter {
  position: absolute;
  bottom: 6px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: auto;
  color: black;
  font-size: 17px;
  font-weight: 450;
  transition: 0.3s ease;
  user-select: none;
}

/* slide caption */
.slide-caption {
  color: black;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9),
    inset 0 0 2px rgba(255, 255, 255, 0.9);
  font-size: 2.2vh;
  line-height: 1.15;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1%;
  width: 42.5%;
  text-align: right;
}

.slide-caption .title {
  font-weight: 500;
  font-size: 2.3vh;
}
