.highlight-canvas {
  width: 57%;
  float: left;
  height: 86vh;
  position: relative;
  top: 0;
}

.news-canvas {
  width: 33%;
  float: right;
  height: 86vh;
  position: relative;
}


.newsticker {
  position: relative;
  background: #f4f4f4;
  color: black;
  width: auto;
  max-height: calc(100% - calc(5.3 * var(--base-font-size)));
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 1vh 1vw;
  border-radius: 4px;
  box-shadow: inset 0 0 2px #000000;
}

.newsticker .newsentry {
  position: relative;
  padding: 1vh 0.5vw;
}

.newsentry:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: auto;
  height: 2px;
  background: radial-gradient(#1a1a1a, transparent);
}

.newsentry a{
  font-style: italic;
}

.newsdate {
  font-weight: 500;
  font-style: italic;
}
.newsdate::after {
  content: ": ";
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 100;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: auto;
  height: calc(100% - calc(5.3 * var(--base-font-size)));
  margin: auto;
  background: transparent;
}

.slideshow-canvas {
  position: relative;
  width: 94%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  top: 0;
  float: left;
  display: flex;
  text-align: center;
}

.slideshow-canvas .slide-img {
  max-width: 100%;
  max-height: 90%;
  margin: auto;
}


/* Next & previous buttons for slideshow */
.prev-slide, .next-slide {
  width: 3%;
  height: 100%;
  float: left;
  background-color: #f2f2f2;
  cursor: pointer;
  color: black;
  transition: 0.15s ease;
  user-select: none;
  font-weight: bold;
  font-size: 3.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* On hover, turn yellow and cast shadow */
.prev-slide:hover, .next-slide:hover {
  color: white;
  text-shadow: 0 0 2px #000000;
  background-color: #c3c3c3;
}

/* pause/play buttons */
.pause, .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  cursor: pointer;
  color: white;
  transition: 0.15s ease;
  user-select: none;
  font-weight: bold;
  font-size: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  text-shadow: 0 0 2px #000000;
  opacity: 0;
}

.pause {
  left: 0;
  top: 0;
  visibility: visible;
}

.pause:hover, .play:hover {
  opacity: 100%;
}


/* slide caption */
.slide-caption {
  color: black;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.9),
    inset 0 0 2px rgba(255, 255, 255, 0.9);
  /*font-size: 2.2vh;*/
  line-height: 1.25;
  position: absolute;
  bottom: 0;
  padding: 0 1%;
  width: 100%;
  height: 10%;
  text-align: left;
}


.slide-caption .title {
  font-weight: 500;
  /*font-size: 2.3vh;*/
}


/* mobile */
@media screen and (max-width:960px),(max-aspect-ratio:5/3) {
  .highlight-canvas {
    width: 96%;
  }
  .news-canvas {
    float: left;
    width: 96%;
    height: 50vh;
    margin: 4vh 0;
  }
  .slideshow-canvas .slide-img {
    max-height: 80%;
  }
  .slide-caption {
    height: 20%;
  }
}

/* mobile portrait slim */
@media screen and (max-aspect-ratio:1/2) {
  .highlight-canvas {
    width: 96%;
    height: 40vh;
  }
  .news-canvas {
    float: left;
    width: 96%;
    height: 40vh;
    margin: 4vh 0;
  }
  .prev-slide, .next-slide {
    font-size: 2vh;
  }
}

/* mobile portrait and eReader */
@media screen and (min-aspect-ratio:1/2) and (max-aspect-ratio:13/20) {
  .highlight-canvas {
    width: 96%;
    height: 55vh;
  }
  .news-canvas {
    float: left;
    width: 96%;
    height: 40vh;
    margin: 4vh 0;
  }
}

/* Tablet */
@media screen and (min-aspect-ratio:13/20) and (max-aspect-ratio:1/1) {
  .highlight-canvas {
    width: 96%;
    height: 60vh;
  }
  
  .news-canvas {
    float: left;
    width: 96%;
    height: 40vh;
    margin: 4vh 0;
  }
}

/* mobile landscape */
@media screen and (max-height:420px) {
  .news-canvas {
    height: 70vh;
  }
  .highlight-canvas {
    width: 96%;
    height: 104vh;
  }
  .slideshow-canvas .slide-img {
    max-height: 76%;
  }
  .slide-caption {
    height: 24%;
  }
}