.toc-img-container {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
  height: 38vh;
  line-height: 38vh;
  padding-top: 2vh;
  overflow: hidden;
}

.toc-img-container img {
  width: auto;
  height: auto;
}

.abstract-container {
  float: left;
  text-align: justify;
  width: 77%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

@media screen and (max-width:960px) {
  .toc-img-container, .abstract-container {
    float: left;
    width: 96%;
  }

  .toc-img-container {
    text-align: center;
    height: 38vh;
  }
}

.abstract-container.imgleft {
  padding-left: 2%;
}

.abstract-container.imgright {
  padding-right: 2%;
}

.abstract-container .papertitle {
  text-align: left;
  font-size: 3vmin;
  line-height: 1.5;
  margin: 0;
  font-weight: 550;
}

.abstract-container .paperinfo {
  font-size: 2.6vmin;
  line-height: 1.3;
  margin: 0;
  font-weight: 450;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
